{% extends 'base_layout.html' %}
{% load static %}

{% block content%}
    <div class="playlists">
      <div class="playlist">
        <ul>
          {% for product in products %}
          <li>
            <img src="{{ playlist.thumbnail.url }}" alt="">
            <h2><a href="{{ playlist.get_absolute_url }}">{{ product.title }}</a></h2>
            <p>{{ product.created_at }}</p>
            <p>{{ product.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
