{% extends 'base_layout.html' %}
{% load static %}

{% block content%}
    <h1 class="playlist-list-title">Listen to Playlists. Be happy.</h1>
    <div class="playlists">
      <div class="playlist">
        <ul>
          {% for playlist in playlists %}
          <li>
            <img src="{{ playlist.thumbnail.url }}" alt="">
            <h2><a href="{{ playlist.get_absolute_url }}">{{ playlist.title }}</a></h2>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
