{% extends 'base_layout.html' %}

{% block content %}
<h2 class="signup-h2">Signp to begin your <i><strong>journey</strong></i></h2>
 <div class="signup">
    <form class="signupform" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
          </p>
          <p class="errortext">{{ error }}</p>
          {% endfor %}
      {% endfor %}
       <button type="submit">SignUp</button>
    </form>
   </div>
{% endblock %}
