{% extends 'base_layout.html' %}

{% block content %}
<h2 class="signup-h2">Register to begin your <span><i><strong>journey</strong></i></span></h2>
<img class="signup-img" src="/assets/picture2.jpg" alt="">
 <div class="signup">
    <form class="signupform" method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
          </p>
          <p class="errortext">{{ error }}</p>
          {% endfor %}
      {% endfor %}
       <button class="signupbutton"type="submit">Register Me</button>
    </form>
   </div>
{% endblock %}
