
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'spyced';
  src: url(/assets/fonts/spyced-vyad.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'midnight';
  src: url(/assets/fonts/MidnightMinutes-RpKRl.otf);
}
.creep {
  font-family: spyced;
  font-weight: bold;
}

.wizard {
  font-family: midnight;
  font-weight: bold;
}


h1, h2, h3, h4, h5, p{
    font-family: Ubuntu;
    font-weight: normal;
}

.header h1 {
  display: block;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-family: Alata;
  font-size: 80px;;
  color: #dbdbdb;
  top: 30px;
}

.header a {
  position: absolute;
  z-index: 1;
  top: 200px;
  display: block;
  text-align: center;
  font-size: 110px;
  text-decoration: none;
  font-family: Alata;
  font-style: normal;
  color: #d600ff;
  background: linear-gradient(90deg, #06004e, #2f5c9a, #00e6ec, #010647);
  background-size: 1000% 1000%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 29s ease infinite;
animation: hue 25s ease infinite;

}

@-webkit-keyframes hue {
   0%{background-position:0% 53%}
   50%{background-position:100% 48%}
   100%{background-position:0% 53%}
}
@keyframes hue {
   0%{background-position:0% 53%}
   50%{background-position:100% 48%}
   100%{background-position:0% 53%}
 }


.picture img {
    position: relative;
    width:100%;
    height:100%;
    object-fit: contain;ط
    display:block;
}

.about {
  background-image: url(/static/picture3.jpg);
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.about h1 {
  text-align: center;
  color: white;
  font-size: 70px;
}

.about p {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;
  padding: 10px;
  border: 3px solid #00dba0;
}
