{% extends 'base_layout.html' %}
{% load static %}

{% block content%}

<body>
  <header class="header">
    <div class="navbar">
      <div class="topnav">
          <ul>
            <li><a class="about-link" href="/about/">About</a></li>
            <li><a class="products-link" href="fly.html">Products</a></li>
            <li><a class="signup-link" href="{% url 'accounts:signup' %}">Signup</a></li>
            <li><a id="login-link" href="{% url 'accounts:login' %}">Login</a></li>
          </ul>
      </div>
    </div>
    <div class="homepage-h1">
      <div class="welcome">
        <h1>Welcome to<br></h1>
      </div>
      <div class="sena">
          <h1>Senallica <br></h1>
      </div>
      <div class="leather">
        <h1>Leather Gallery</h1>
      </div>
    </div>
  </header>
  <main>

  </main>

  {% endblock %}
