{% extends 'base_layout.html' %}
{% load static %}

{% block content%}

<body>
  <header class="header">
    <div class="homepage-h1">
      <h1>Welcome to<br> <a class="homeurl" href="{% url 'home'%}">A <b>Wizard</b> and A <b>Creep</b></a></h1>
      <img class="picture" src="assets/picture.jpg" alt="Wizard picture">
      <h2 class="note">Once there was a <b>Wizard</b> and a <b>Creep</b></h2>
    </div>
    <nav class="topnav">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="signup">Signup</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="fly.html">Fly</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="article-one">
      <h2>How does it work?</h2>
      <p>Create <b>free</b> and <b>customizable</b> playlists for any given<br> moment and feeling while interacting with others' playlists.</p>
      <img src="/assets/undraw_compose_music_ovo2.svg" height="250"
    width="250" >
    </article>
    <article  class="article-two">
      <h2>Create. <b>Explore.</b> Share.</h2>
      <p>Here you can find a playlist that fits for almost any feeling.</p>
      <img src="" alt="">
    </article>
    <div class="article-three">
      <h2>Ready to get started?<h2>
      <a href="platlist.html">Start Creating</a>
    </div>
  </main>

  {% endblock %}
